<div class="privacy-content">
    <!-- Заголовок -->
    <div class="text-center mb-5">
        <h3 class="gradient-text"><!--APP_NAME--></h3>
        <p class="text-muted">Контактная информация</p>
        <hr class="my-4">
    </div>

    <section class="privacy-section mb-4">
        <h3 class="h4 mb-3">1. Информация об Исполнителе</h3>
        <p>Оказывающий услуги:<br>
        Индивидуальный предприниматель Фролов Вадим Валерьевич</p>
        <p>ИНН: 745004166339<br>
ОГРНИП: 310745006100014<br>
Дата государственной регистрации: 02.03.2010</p>
        <p>Телефон: +79227540997</p>
        <p>email: fwadim@mail.ru</p>
    </section>

    <section class="privacy-section mb-4">
        <h3 class="h4 mb-3">2. Контактная информация для пользователей</h3>
        <p>Техническая поддержка:
            <ul>
                <li>Через форму обратной связи в приложении или через email: <!--SUPPORT_EMAIL--></li>
                <li>Сообщество VK: <a href="https://vk.com/club234788954" target="parent">https://vk.com/club234788954</a></li>
                <li>Email: <!--SUPPORT_EMAIL--></li>
                <li>Время ответа: в течение 24 часов в рабочие дни</li>
            </ul>
        </p>
        <p>Режим работы поддержки:<br>
Понедельник-Пятница: 10:00-19:00 (МСК)<br>
Суббота-Воскресенье: 12:00-16:00 (МСК)<br>
        </p>
    </section>
</div>