<div class="privacy-content">
    <section class="videos-section vmt" id="videosSection" style="">
        <div class="glass-card vblock">
            <h2 class="section-title vmb-4">
                <i class="bi bi-film me-2"></i>Примеры работ
            </h2>
            
            <div class="row" id="videosGrid">
                <div class="video-card" id="video-1766121734">
                    <div class="video-preview">
                        <div class="bi bi-play-circle" style="background-image: url(downloads/thumbnail/1766121734.jpg)" onclick="app.watchVideo('video-1766121734')">
                        </div>
                        <video controls="" class="w-100 hide">
                            <source src="downloads/results/1766121734.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    <div class="p-3">
                        <div>
                            <h6>Видео #1766121734</h6>
                            <small class="text-muted">
                                20.12.2025, 08:48:41
                            </small>
                        </div>
                    </div>
                </div>
                <div class="video-card" id="video-831713642755932177">
                    <div class="video-preview">
                        <div class="bi bi-play-circle" style="background-image: url(downloads/thumbnail/831713642755932177.jpg)" onclick="app.watchVideo('video-831713642755932177')">
                        </div>
                        <video controls="" class="w-100 hide">
                            <source src="downloads/results/831713642755932177.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    <div class="p-3">
                        <div>
                            <h6>Видео #831713642755932177</h6>
                            <small class="text-muted">
                                19.12.2025, 07:00:39
                            </small>
                        </div>
                    </div>
                </div>
                <div class="video-card" id="video-828697831090290742">
                    <div class="video-preview">
                        <div class="bi bi-play-circle" style="background-image: url(downloads/thumbnail/828697831090290742.jpg)" onclick="app.watchVideo('video-828697831090290742')">
                        </div>
                        <video controls="" class="w-100 hide">
                            <source src="downloads/results/828697831090290742.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    <div class="p-3">
                        <div>
                            <h6>Видео #828697831090290742</h6>
                            <small class="text-muted">
                                23.12.2025, 13:34:05
                            </small>
                        </div>
                    </div>
                </div><div class="video-card" id="video-1766584522">
                    <div class="video-preview">
                        <div class="bi bi-play-circle" style="background-image: url(downloads/thumbnail/1766584522.jpg)" onclick="app.watchVideo('video-1766584522')">
                        </div>
                        <video controls="" class="w-100 hide">
                            <source src="downloads/results/1766584522.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    <div class="p-3">
                        <div>
                            <h6>Видео #1766584522</h6>
                            <small class="text-muted">
                                22.12.2025, 09:19:05
                            </small>
                        </div>
                    </div>
                </div><div class="video-card" id="video-829546405043388486">
                    <div class="video-preview">
                        <div class="bi bi-play-circle" style="background-image: url(downloads/thumbnail/829546405043388486.jpg)" onclick="app.watchVideo('video-829546405043388486')">
                        </div>
                        <video controls="" class="w-100 hide">
                            <source src="downloads/results/829546405043388486.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    <div class="p-3">
                        <div>
                            <h6>Видео #829546405043388486</h6>
                            <small class="text-muted">
                                19.12.2025, 07:00:39
                            </small>
                        </div>
                    </div>
                </div>
                <div class="video-card" id="video-831963709303038025">
                    <div class="video-preview">
                        <div class="bi bi-play-circle" style="background-image: url(downloads/thumbnail/831963709303038025.jpg)" onclick="app.watchVideo('video-831963709303038025')">
                        </div>
                        <video controls="" class="w-100 hide">
                            <source src="downloads/results/831963709303038025.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    <div class="p-3">
                        <div>
                            <h6>Видео #831963709303038025</h6>
                            <small class="text-muted">
                                19.12.2025, 07:00:39
                            </small>
                        </div>
                    </div>
                </div>
                <div class="video-card" id="video-830182470111854634">
                    <div class="video-preview">
                        <div class="bi bi-play-circle" style="background-image: url(downloads/thumbnail/830182470111854634.jpg)" onclick="app.watchVideo('video-830182470111854634')">
                        </div>
                        <video controls="" class="w-100 hide">
                            <source src="downloads/results/830182470111854634.mp4" type="video/mp4">
                            Ваш браузер не поддерживает видео.
                        </video>
                    </div>
                    <div class="p-3">
                        <div>
                            <h6>Видео #830182470111854634</h6>
                            <small class="text-muted">
                                19.12.2025, 07:00:39
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>